@model Security1.Models.Person

@{
    ViewBag.Title = "Update";
}

@if (Model == null)
{
    <h2>Person not found</h2>
    return;
}

<h2>Check Password</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <label>Password check for User @Model.Id</label>
            <form class="password-check-form" action="@Url.Action("CheckPassword", "Person")" method="post">
                @Html.HiddenFor(m => m.Id)
                @Html.TextBoxFor(m => m.Password, new { placeholder = "password" })
                <button class="js-check-password" type="button">Check Password</button>
            </form>
        </div>
    </div>
</div>


@section Scripts {
<script>
    $(function () {
        $('.js-check-password').on('click', function () {
            var $form = $('.password-check-form');

            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: $form.serialize()
            }).done(function () {
                alert('Correct Password');
            }).fail(function () {
                alert('Passwords do not match');
            });
        });
    });
</script>
}
